<div class="login-form-wrapper">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"> 
        <div class="header">
            Login
        </div>
        <div class="content">
            <div class="form-row">
                <div class="label">Username</div>
                <input [(ngModel)]="username" type="text" name="username" placeholder="Username" required />
            </div>
            <div class="form-row">
                <div class="label">Password</div>
                <input [(ngModel)]="password" type="password" name="password" placeholder="Password" required />
            </div>
        </div>
        <div class="footer">
            <button type="submit" [disabled]="!loginForm.valid">Login</button> 
        </div>
    </form> 
</div>